/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
  padding: 0 0 67px;
}

/* Header */

[aria-label="navbar"]{
	background: #fff;
	height: 66px;
    margin-top: 72px;	
}
.navbar-container{
	display: grid;
	align-items: center;
	max-width: 1632px;
	margin: 0 auto;
	height: 100%;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.logo{
	width: 93px;
	height: 32px;
	display: block;
}


.list{
	display: flex;
	margin: 2px 0 0;
}


.list-item{
	color: #000000;
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	list-style: none;
	margin: 0 35px 0 35px;
	position: relative !important;
	font-size: 24px;
    display: flex;
    align-items: center;
}

.list-item:hover,.list-item:focus{
    font-size: 34px;
    font-weight: 700;
}

.list-item:hover::after,.list-item:focus::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #000;
    width: 59px;
    height: 3px;
    bottom: 0;
  }

.button-group {
    display: flex;
    justify-content: end;
    align-items: center;    
    position: relative;
    top: 10px;
  }

  .search-icon{
    margin: 5px 18px 0 0;
  }

  .nav-button{
    width: 217px;
    height: 56px;
    background: #fff;
    border: 4px solid #000;
    border-radius: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    letter-spacing: 0.4px;
    color: #515151;
  }
  .hero-container{
    display: grid;
    max-width: 1634px;
    margin: 0 auto;
    height: 100%;
    grid-template-columns: auto auto;
    position: relative;
    margin: 127px auto 0;
    grid-column-gap: 110px;
  }

  .square{
    position: absolute;
    left: 212px;
    bottom: -8px;
  }

  .globe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .star{
    position: absolute;
  }

  .hero-container > span.star:nth-child(2){
    top: 5px;
    right: 15px;
  }

  .hero-container > span.star:nth-child(3){
    bottom: 36px;
    left: 44.6%;
    width: 18%;
  }

  .hero-container > span.star:nth-child(3) > img{
    width: 18%;
  }

  .hero-container > div{
    position: relative;
  }

  .hero-container-right{
    left: 22px;
    margin-top: 120px;    
  }

  .hero-heading{
    font-size: 73px;
    font-family: 'Orbitron', sans-serif;
  }

  .hero-description{
    font-family: poppins;
    color: #777575;
    text-align: center;
    margin: 62px 109px 120px;
    font-size: 18px;
    position: relative;
    left: 1px;
  }

  .hero-container-right > div:nth-child(3){
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 0 0 127px;
  }

  .button-email{
    width: 270px;
    height: 43px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 12px;
    font-size: 25px;
    letter-spacing: 0.4px;
    color: #5c5a5a;
    font-family: 'Orbitron', sans-serif;
  }

  .button-join{
    width: 162px;
    height: 42px;
    background: #0b0c0e;
    border-radius: 12px;
    font-size: 24px;
    letter-spacing: 0.4px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    border:0;
  }

  .hero-container-right > div:nth-child(4){
    text-align: center;
  }

  .contact-heading{
    font-family: 'Poppins', sans-serif;
    color: #6a6868;
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    margin: 0 0 16px;
  }

  .icons{
    display: flex;
    justify-content: center;
    column-gap: 27px;
  }

  .icons span{
    cursor: pointer;
    position: relative;
  }

  .icons span:before{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 0%;
    height: 0%;
    box-sizing: border-box;
    border: 4px solid #00e7ff;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    opacity: 0;
    right:0;
    margin:0 auto;
  }


  .icons span:hover:before{
    left: -2px;
    top: -2px;
    width: 108%;
height: 96%;
opacity: 1;
  }