/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
}

/* Header */

[aria-label="navbar"]{
	background: #000;
	height: 94px;	
}
.navbar{
	display: flex;
	align-items: center;
	max-width: 1274px;
	margin: 0 auto;
	height: 100%;
}

.logo{
	width: 93px;
	height: 32px;
	display: block;
}

.line{
	width: 1px;
	height: 53px;
	background: #fff;
	margin: 0 0 0 74px;
}

.list{
	display: flex;
	margin: 2px 0 0;
}

.grow-list{
	margin: 0px 0 0 29px;
}

.list-item{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	list-style: none;
	margin: 0 35px 0 35px;
	position: relative !important;
	font-size: 16px;
}

.list-item:first-child:after{
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2.8px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	content: "";
	right: -21px;
	position: absolute;
	top: 9px;
}


.button-small{
	background: #ba0cc5;
	border: 0;
	color: #fff;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin: 0 0 0 247px;
	cursor: pointer;
	padding: 7.2px 28.5px;
}

.button-small:hover,.button-small:focus{
	background: #fff;
	color: #ba0cc5;
}

[aria-label="hero"]{
	background: url('assets/bg.png') no-repeat center top;
	background-size: cover;
}

.hero{
	max-width: 880px;
	margin: 0 auto;
	padding: 173px 0 638px;
	left: 16px;
	position: relative;
}

.hero h1{
	color: #fff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 80px;
}

.hero p{
	color: #fff;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 0.2px;
}

.button-large{
	background: #ba0cc5;
	border: 0;
	color: #fff;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 29px;
	margin: 52px 0 0 258px;
	cursor: pointer;
	letter-spacing: 0.6px;
	padding: 14px 24px;
}

.button-large:hover,.button-large:focus{
	background: #fff;
	color: #ba0cc5;
}

